.page {
    height: 100vh;
    padding-top: 1%;
    padding-right: 2%;
    padding-left: 2%;
    transition: transform 0.5s ease-in-out;
}

.page-enter {
    transform: translateX(100%);
}
.page-enter-active {
    transform: translateX(0);
}
.page-exit-active {
    transform: translateX(-100%);
}
