.Navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    /* height: 100%; */
}

.Navbar-particle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #030614fa;
    width: 100%;
    height: 100%;
    /* overflow: scroll; */
}
@media screen and (max-width: 1607px) {
    .Navbar {
        flex-direction: column;
    }
}
